*{
	margin:0px;
	padding:0px;
}
body{
	width:100%;
	/*height:500px;*/
	
	text-align:center;
	
}
.navbar{
	display:none;
/*	transition:display 10s;*/
}
/*nav{
	background-color:#022c40;
	border-color:#022c40;
}*/
.first{
	/*height:800px !important;*/
	background:url(../imgs/before.jpg) no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
.flag{
	color:white;
	font-weight:600;
	font-size:5em;
	font-family: STSong;
	padding-top:20%;
}
.glyphicon-fullscreen{
	position:fixed;
	left:6%;
	top:10%;
}
.glyphicon-fullscreen:hover{
	cursor:pointer;
	font-size:10px;
}
.glyphicon-menu-down{
	color:white;
	font-weight:800;
	font-size:3em;
	float:none;
	margin-top:8%
}
.glyphicon-menu-down:hover{
	font-size:2em;
}
/*.second{
	background-image:url(../imgs/before.jpg);
	background-size: cover;
	background-attachment:fixed;
}*/
/*.container{
	background-image: url(../imgs/sky.jpg);
	height:1000px;
}*/
.second{
	background-image:url(../imgs/ba.jpg);
	/*height:1000px;*/
	background-size: 100% 100%;
	background-attachment: fixed;
}

.test1{
	/*height:1000px;*/
	text-align:center;
    /*background: -webkit-linear-gradient(left top, red , blue); /* Safari 5.1 - 6.0 */
    /*background: -o-linear-gradient(bottom right, red, blue); /* Opera 11.1 - 12.0 */
    /*background: -moz-linear-gradient(bottom right, red, blue); /* Firefox 3.6 - 15 */
    /*background: linear-gradient(to bottom right, #6adcb7 ,#c55aa8); /* 标准的语法 */
}
.article{
	display:inline-block;
	height:400px;
	width:85%;
	background-color: white;
	margin-top: 50px;
	text-align: left;
	background-size: 100% 100%;
	border-radius:5px;
	background-origin: border-box !important;
}
.article:hover{
	/*height:405px;
	width:85.1%;*/
	border:1px solid #aaa;
	cursor:pointer;
}
.page_first{
	margin-top:200px;
}
.top{
	height:60%;
	width:100%;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.title{
	font-size:2em;
	font-weight:400;
	padding-top:21%;
	padding-left: 3%;
	color:white;
	letter-spacing: 0.1em;
}
#article1>.top{
	background-image:url(../imgs/article1.png);
}
#article2>.top{
	
	/*background-color: #eee;*/
	background-image:url(../imgs/article.png);
	
}
#article3>.top{
	
	/*background-color: #eee;*/
	background-image:url(../imgs/article3.gif);
}

.middle{
	height:20%;
	width:100%;
	border-bottom: 1px solid #ccc;
	padding:20px 10px;
	/*overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;*/
}
div.intro{
	height:100%;
	color:#555;
	/*display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow:ellipsis;*/
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.bottom{
	height:20%;
	width:100%;
	color:#777;
}
.bottom_left{
	width:59%;
	height:100%;
	float:left;
	padding:10px;
}
.head{
	width:50px;
	height:50px;
	float:left;
	margin-right: 10px
}
.head>img{
	width:50px;
	height:50px;
	border-radius: 50%;
}
.name_date{
	padding-top: 6px;
}
.name_date>.name{
	font-weight:bold;
	color:#444;
}
.name_date>p{
	margin:0px;
}
.bottom_right{
	float:right;
	width:41%;
	height:100%;
	padding-top: 10px;
	padding-left:10%;
}
.page{
	height:150px;
	width:100%;
}
.current_page{
	height:50px;
	line-height:50px;
	font-size:1.1em;
}
.next_page,.pre_page{
	border-radius:50%;
	background-color: white;
	width:40px;
	height:40px;
	font-size: 1.4em;
	/*line-height: 50px;*/
	font-weight:300;
	color:#9898a0fa;
	text-align: center;
}
.next_page:hover,.pre_page:hover{
	width:50px;
	height:50px;
	font-size:2em;
}
/*.glyphicon-hand-left{
	font-weight:300;
	color:#242425fa;
}
.glyphicon-hand-right{
	font-weight:300;
	color:#242425fa;
}*/
.third{
	height:100px;
	width:100%;
}
.copyright{
	color:#777;
}
.about{
	letter-spacing: 0.1em;
}
.about>span{
	color:#777;
}
.link>a{
	padding-left: 30px;
	color:#555;
	font-size:1.3em;
}
